{% extends "base.html" %}

{% block title %}Training - TerpSys{% endblock %}

{% block content %}
    <h1>Training</h1>

    <p>Welcome to your training for the TerpSys Student Information System.</p>

    <p>Training materials are currently under construction, but will be created very soon.</p>

    <p>Please check back soon or email Emma Perez at
        <a href="mailto: eperez14@terpmail.umd.edu"> eperez14@terpmail.umd.edu </a>
        if you wish to be placed on the waiting list.
    </p>
{% endblock %}